@import '~nprogress/nprogress.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import '~antd/dist/antd.css'; */

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../../fonts/BrandonGrotesque/Brandon_bld.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../../fonts/BrandonGrotesque/Brandon_med.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brown Bold';
  src: url('../../fonts/BrownBold/Brown\ Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brown Bold';
  src: url('../../fonts/BrownBold/Brown\ Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Recoleta';
  src: url('../../fonts/Recoleta/Recoleta-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/AvenirNext/AvenirNext-Regular-08.ttf');
}

@font-face {
  font-family: 'Avenir Next';
  font-style: italic;
  font-weight: 400;
  src: local('Avenir Next'), url('https://fonts.cdnfonts.com/s/13217/AvenirNextLTPro-CnIt.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Next';
  font-style: italic;
  font-weight: 400;
  src: local('Avenir Next'), url('https://fonts.cdnfonts.com/s/13217/AvenirNextLTPro-It.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 275;
  src: local('Avenir Next'), url('https://fonts.cdnfonts.com/s/13217/AvenirNextLTPro-UltLt.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 275;
  src: local('Avenir Next'), url('https://fonts.cdnfonts.com/s/13217/AvenirNextLTPro-UltLtIt.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 275;
  src: local('Avenir Next'), url('https://fonts.cdnfonts.com/s/13217/AvenirNextLTPro-UltLtCn.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Next';
  font-style: italic;
  font-weight: 275;
  src: local('Avenir Next'), url('https://fonts.cdnfonts.com/s/13217/AvenirNextLTPro-UltLtCnIt.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/AvenirNext/AvenirNext-Medium-06.ttf');
}
@font-face {
  font-family: 'Avenir Next';
  font-style: italic;
  font-weight: 500;
  src: local('Avenir Next'), url('https://fonts.cdnfonts.com/s/13217/AvenirNextLTPro-MediumIt.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Next';
  font-style: italic;
  font-weight: 500;
  src: local('Avenir Next'), url('https://fonts.cdnfonts.com/s/13217/AvenirNextLTPro-MediumCnIt.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 600;
  src: local('Avenir Next'), url('https://fonts.cdnfonts.com/s/13217/AvenirNextLTPro-Demi.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/AvenirNext/AvenirNext-DemiBold-03.ttf');
}
@font-face {
  font-family: 'Avenir Next';
  font-style: italic;
  font-weight: 600;
  src: local('Avenir Next'), url('https://fonts.cdnfonts.com/s/13217/AvenirNextLTPro-DemiCnIt.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Next';
  font-style: italic;
  font-weight: 600;
  src: local('Avenir Next'), url('https://fonts.cdnfonts.com/s/13217/AvenirNextLTPro-DemiIt.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 700;
  src: local('Avenir Next'), url('https://fonts.cdnfonts.com/s/13217/AvenirNextLTPro-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/AvenirNext/AvenirNext-Bold-01.ttf');
}
@font-face {
  font-family: 'Avenir Next';
  font-style: italic;
  font-weight: 700;
  src: local('Avenir Next'), url('https://fonts.cdnfonts.com/s/13217/AvenirNextLTPro-BoldCnIt.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 900;
  src: local('Avenir Next'), url('https://fonts.cdnfonts.com/s/13217/AvenirNextLTPro-Heavy.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 900;
  src: local('Avenir Next'), url('https://fonts.cdnfonts.com/s/13217/AvenirNextLTPro-HeavyIt.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 900;
  src: local('Avenir Next'), url('https://fonts.cdnfonts.com/s/13217/AvenirNextLTPro-HeavyCn.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Next';
  font-style: italic;
  font-weight: 900;
  src: local('Avenir Next'), url('https://fonts.cdnfonts.com/s/13217/AvenirNextLTPro-HeavyCnIt.woff') format('woff');
}
a {
  text-decoration: none !important;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

.ios-menu {
  height: -webkit-fill-available;
  -webkit-overflow-scrolling: touch;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

#nprogress .bar {
  height: 3px;
  @apply bg-primary-brand;
}

#nprogress .spinner-icon {
  width: 0px;
  height: 0px;
}

.react-tel-input .selected-flag .arrow {
  border-top-color: #19a3d1 !important;
}
.react-tel-input .selected-flag:focus .arrow {
  border-top-color: #19a3d1 !important;
}
.react-tel-input .selected-flag .arrow.up {
  border-bottom-color: #19a3d1 !important;
}

.star {
  width: 25px;
  height: 25px;
  margin: 0 5px 0 0;
  background-color: #f5853f;
}

.MyReactTableClass {
  .-sort-desc {
    box-shadow: none !important;
    &:before {
      background-color: "black";
      float: right;
    }
  }

  .-sort-asc {
    box-shadow: none !important;
    &:before {
      background-color: "black";
       
      float: right;
    }
  }
}